<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}Django Chat</title>
    {% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" referrerpolicy="no-referrer" /> {% endcomment %}
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <nav class="bg-white-100 shadow">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                    <div class="hidden md:flex items-center space-x-4">
                        <a href="/lobby" class="text-gray-700 hover:text-gray-900">Chat Rooms</a>
                        <a href="/create_room" class="text-gray-700 hover:text-gray-900">Create Room</a>
                    </div>
                    <div>
                        <a href="/" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
                            <svg class="h-6 w-6 mr-2 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 01-.825-.242m9.345-8.334a2.126 2.126 0 00-.476-.095 48.64 48.64 0 00-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0011.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                            </svg>                              
                            <span class="font-bold">Django Chat</span>
                        </a>
                    </div>
                {% if user.username != '' %}
                    <div class="hidden md:flex items-center space-x-3">
                        <svg class="h-6 w-6 mr-2 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                        </svg>                          
                        <a href="/dashboard" class="py-1 px-3 text-gray-700">User: {{user.username}}</a>
                        <a href="/logout" type='submit' class="py-1 px-3 bg-blue-400 hover:bg-blue-300 text-blue-800 hover:text-blue-900 rounded transition duration-300" >Logout</a>
                    </div>
                {% else %}
                    <div class="hidden md:flex items-center space-x-3">
                        <a href="/login" class="py-1 px-3 text-gray-700">Log in</a>
                        <a href="/signup" class="py-1 px-3 bg-blue-400 hover:bg-blue-300 text-blue-800 hover:text-blue-900 rounded transition duration-300">Sign up</a>
                    </div>
                {% endif %}
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button" >
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="mobile-menu hidden md:hidden">
            <a href="/products" class="block py-2 px-4 text-sm hover:bg-gray-200" >Trendy</a>
            <a href="/products" class="block py-2 px-4 text-sm hover:bg-gray-200" >New Arrivals</a>
        </div>
    </nav>
    {%block body%}
    {%endblock%}

    {%block scripts%}
    {%endblock%}
</body>
</html>