{% comment %} Tailwind {% endcomment %}

<html>
    <title>Room</title>
    <h1>Chat!</h1>
    <body>        
        <div id="chat-messages"></div>
        <input id="message-input" type="text">
        <button id="send-button">Send</button>
    </body>
  
  <script>
    const roomId = "{{ room_id }}";
    const user = "{{ user }}"
    const chatSocket = new WebSocket(
      `ws://${window.location.host}/ws/room/${roomId}/`
    );

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      const message = data.message;
      const sender = data.sender;
      
      const chatMessages = document.querySelector('#chat-messages');
      const messageElement = document.createElement('div');
      messageElement.innerText = `${sender}: ${message}`;
      chatMessages.appendChild(messageElement);
    };

    document.querySelector('#send-button').onclick = function () {
      const messageInput = document.querySelector('#message-input');
      const message = messageInput.value;
      chatSocket.send(JSON.stringify({
        'message': message,
        'sender': user,
        'room': roomId,
      }));
      messageInput.value = '';
    };
  </script>
</html>