<html>
    <title>Room</title>

    <body>
        {%for room in rooms%}
            <h1>{{room.name}}</h1>
        {%endfor%}
        <h2>Let's Chat</h2>

        <form id="form">
            <input type="text" name="message"/>
        </form>

        <div id="messages"></div>
    </body>

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if(data.type === 'chat'){
                let messages = document.getElementById('messages')

                messages.insertAdjacentHTML('beforeend', `<div>
                                            <p>${data.message}</p>
                                        </div>`)
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message': message
            }))
            form.reset()
        })
    </script>
</html>