{% extends "chat/base.html" %}

{% block body %}
<div class="flex flex-col items-center justify-center mt-5">
    <h1 class="text-2xl font-semibold">Search results for "{{query}}" </h1>
    
    <h2 class="text-2xl font-semibold">Rooms Found:</h2>
</div>
{%if rooms %}
    <div class="w-full mt-5">
        <div class="w-full flex flex-wrap items-center justify-center">
            {%for room in rooms%}
                <div class="w-full lg:w-1/4 px-3 py-3">
                    <div class="p-4 bg-white shadow rounded-xl text-center">
                        <h2 class="mb-5 text-2xl font-semibold">{{room.name}}</h2>

                        <a href={% url 'room' room.id %} class="px-5 py-3 block rounded-xl text-white bg-blue-400 hover:bg-blue-300">Join</a>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
{%else%}
    <div class="flex flex-wrap items-center justify-center mt-10">
        <h1 class="text-4xl font-semibold">No rooms found</h1>
    </div>
{%endif%}
{% endblock %}